.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-xxl);
}

.filters {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 10px -2px;
}

.filters .columns {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: var(--spacing-sm);
}

.filters .column {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.filters span {
  color: var(--color-gray-300);
  font-size: var(--font-size-base);
}

.list,
.skeleton {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: var(--spacing-md);
}

.skeleton br {
  display: none;
}

.skeleton span {
  height: 180px;
  width: 100%;
}
